body{
  background-color: rgb(15,15,15);
}

*{
  color: rgb(250,250,250);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.small{
  color: rgb(50, 50, 50);
}

button{
  background-color: rgb(50,50,50);
  border-radius: 5px;
  border-style: none;
  padding: 7px;
  cursor: pointer;
  transition: 250ms;
}

button:hover{
  transform: scale(1.05);
  background-color: rgb(60, 60, 60);
}

button:active{
  transform: scale(1);
  background-color: rgb(40, 40, 40);
}